:root{
  /* Primary */
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* Neutral */
--mainBGBlueColor: hsl(217, 54%, 11%);
--cardBGBlueColor: hsl(216, 50%, 16%);
--lineBlueColor: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body{
  background-color: var(--mainBGBlueColor);
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

body p{
  font-size: 1rem;
}

main{
  background-color: var(--cardBGBlueColor);
  padding: 20px;
  max-width: 400px;
  border-radius: 15px;
}

main img{
border-radius: 12px;
margin-bottom: 20px;
}

main h1{
  margin-bottom: 10px;
  color: var(--White);
}

main .text{
  color: var(--Softblue);
  margin-bottom: 10px;
}

.eth-time-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.eth-value-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.eth-value-wrapper img{
  margin:0;
  margin-right: 5px;
}

.time-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-wrapper img{
  margin: 0;
  margin-right: 5px;
}

.eth-value{
  color: var(--Cyan);
}

.time{
  color: var(--Softblue);
}

hr{
  border: .5px solid var(--lineBlueColor);
  margin-bottom: 10px;
}

.creater-info-container{
  display: flex;
  align-items: center;
}

.creater-info-container img{
  border:1px solid var(--White);
  border-radius: 50px;
  max-width: 30px;
  margin: 0;
  margin-right: 15px;
}

.creater-info-container p{
  color: var(--Softblue);
}

.creater-info-container span{
  color: var(--White);
  margin-left: 5px;
}