:root{
  /* Primary */
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* Neutral */
--mainBGBlueColor: hsl(217, 54%, 11%);
--cardBGBlueColor: hsl(216, 50%, 16%);
--lineBlueColor: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body{
  background-color: var(--mainBGBlueColor);
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
}

body p{
  font-size: 1.125rem;
}

main{
  background-color: var(--cardBGBlueColor);
  padding: 30px;
  max-width: 400px;
  border-radius: 15px;
}

.image-container{
  position: relative;
}

.img-overlay{
  background-color: hsla(178, 100%, 50%,.4);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top:0;
  left: 0;
  opacity: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-overlay:hover{
  opacity: 1;
  cursor: pointer;
}

main img{
border-radius: 12px;
margin-bottom: 25px;
}


main img:hover{
  cursor: pointer;
  background-image: var(--Cyan);
  }

main h1{
  margin-bottom: 20px;
  color: var(--White);
  font-size: 1.5rem;
}

main h1:hover{
  cursor: pointer;
  color: var(--Cyan);
}

main .text{
  color: var(--Softblue);
  margin-bottom: 20px;
}

.eth-time-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.eth-value-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.eth-value-wrapper img{
  margin:0;
  margin-right: 5px;
}

.time-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-wrapper img{
  margin: 0;
  margin-right: 5px;
}

.eth-value{
  color: var(--Cyan);
}

.time{
  color: var(--Softblue);
}

hr{
  border: .5px solid var(--lineBlueColor);
  margin-bottom: 20px;
}

.creater-info-container{
  display: flex;
  align-items: center;
}

.creater-info-container img{
  border:1px solid var(--White);
  border-radius: 50px;
  max-width: 30px;
  margin: 0;
  margin-right: 15px;
}

.creater-info-container p{
  color: var(--Softblue);
}

.creater-info-container span{
  color: var(--White);
  margin-left: 5px;
}